{% extends "base.html" %}

      {% block content %}
        <div class="row">
          <div class="col-lg-6">
            <h1 class="text-center" class="mt-5">Orphan child runs away</h1>
            <p class="text-center">By Cian Davey</p>
            <p >Orphan Child ran away from Two Mills fearing bullies last night. </p>
            <p>Jeffrey Magee, the kid who bunted the first frog ball, ran right out of Two Mills on the middle road separating East end and West end. Witnesses say he was being followed by the Cobras, a group of bullies that had hated Maniac ever since he arrived, and Mcnabs group, another group of bullies, and was forced out of Two Mills. </p>
            <p>“We thought he was on one of his walks until we read the newspaper.” said Ms. Beal, caretaker of Jeffrey Magee. The Beals family has put up a reward of 10 pounds for information on his disappearance. For a digital copy of this news article go to this link. The link has not been added yet. </p>
          </div>
        </div>
      {% endblock content %}
